{% extends "base.html" %}

{% block title %}
{{flow}}
{% endblock %}

{% block body %}

<div class="grid-container">
  <div id="bot" class="line">
      <p class="avatar">&#129302; :</p>
      <p class="text loader">{{bot_reply}}</p>
      <div></div>
  </div>
  <form id="user" class="line" method=post action="{{ url_for('dispatcher') }}">
      <p class="avatar">&#128100; :</p>
      <input type="text" name=reply class="text user-input">
      <div class="buttons">
          <input class="button reply hide" type="submit" value="&#x21B5;">
      </div>
  </form>
  <div id="abort" class="line">
      <div></div>
      <div></div>
      <form method=post action="{{ url_for('dispatcher', abort=1) }}">
          <div class="buttons">
              <input class="button abort hide" type="submit" value="&#x1F6AB;">
          </div>
        </form>
  </div>
</div>

{% endblock %}

{% block js %}
  <script>
    var delay = {{ config.REPLY_DELAY_MS }};
    
    const message = document.querySelector(".text")
    const buttons = document.querySelectorAll(".button")
    const input = document.querySelector(".user-input")

    setTimeout(function() {
    message.classList.remove("loader");
    buttons.forEach(button => {button.classList.remove("hide")});
    input.focus();
  }, delay);
  

  </script>
{% endblock %}

{% block head %}
  <style>
    .loader,
    .loader:before,
    .loader:after {
      border-radius: 50%;
      width: 2.5em;
      height: 2.5em;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation: load7 0.9s infinite ease-in-out;
      animation: load7 0.9s infinite ease-in-out;
    }
    .loader {
      color: #6a6a6a;
      font-size: 10px;
      position: relative;
      text-indent: -9999em;
      -webkit-transform: translateZ(0) translateY(-23px) translateX(60px);
      -ms-transform: translateZ(0) translateY(-23px) translateX(60px);
      transform: translateZ(0) translateY(-23px) translateX(60px);
      -webkit-animation-delay: -0.16s;
      animation-delay: -0.16s;
    }
    .loader:before,
    .loader:after {
      content: '';
      position: absolute;
      top: 0;
    }
    .loader:before {
      left: -3.5em;
      -webkit-animation-delay: -0.32s;
      animation-delay: -0.32s;
    }
    .loader:after {
      left: 3.5em;
    }
    @-webkit-keyframes load7 {
      0%,
      80%,
      100% {
        box-shadow: 0 2.5em 0 -1.3em;
      }
      40% {
        box-shadow: 0 2.5em 0 0;
      }
    }
    @keyframes load7 {
      0%,
      80%,
      100% {
        box-shadow: 0 2.5em 0 -1.3em;
      }
      40% {
        box-shadow: 0 2.5em 0 0;
      }
    }
  </style>
{% endblock %}