{% extends "grid.html" %}

{% block title %}
{{flow}}
{% endblock %}

{% block js %}
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", ()=>{

        document.querySelector(".message").innerHTML = 
            'Díky, že se účastníte vývoje chatbota jménem <em>{{flow}}</em>.<br>' +
            'Zde prosím vyplňte libovolnou <strong>přezdívku</strong>:'
        document.querySelector(".avatar.user").classList.remove("hide")
        document.querySelector(".user-input").classList.remove("hide")
        document.querySelector(".user-input").name = "nick"
        document.querySelector(".confirm").classList.remove("hide")

        shouldSubmit = false
        document.querySelector(".confirm").addEventListener("click", e=>{
            e.preventDefault()

            if (shouldSubmit){
                event.target.form.submit();
            } else {
                 if (!!document.querySelector(".user-input").value){
                    shouldSubmit = true
                    document.querySelector(".message").innerHTML = 
                    "Můžeme začít.<br> Pokud bude robot říkat nesmysly, ukončete ho červeným tlačítkem."
                    document.querySelector(".avatar.user").classList.add("hide")
                    document.querySelector(".user-input").classList.add("hide")
                    document.querySelector(".warning").classList.add("hide")
                 } else {
                    document.querySelector(".warning").classList.remove("hide")
                 }
            }
        })
    })

</script>

{% endblock %}
